@charset "utf-8";

/* font 정의  - NotoSansKR*/
@font-face {
    font-family:"Thin";
    src: url("../fonts/NotoSansKR-Thin.otf");
    font-weight:normal;
    font-style:normal;
}
@font-face {
    font-family:"Regular";
    src: url("../fonts/NotoSansKR-Regular.otf");
    font-weight:norma;
    font-style:normal;
}
@font-face {
    font-family:"Medium";
    src: url("../fonts/NotoSansKR-Medium.otf");
    font-weight:normal;
    font-style:normal;
}
@font-face {
    font-family:"Light";
    src: url("../fonts/NotoSansKR-Light.otf");
    font-weight:normal;
    font-style:normal;
}
@font-face {
    font-family:"Bold";
    src: url("../fonts/NotoSansKR-Bold.otf");
    font-weight:normal;
    font-style:normal;
}
@font-face {
    font-family:"Black";
    src: url("../fonts/NotoSansKR-Black.otf");
    font-weight:normal;
    font-style:normal;
}

/* Color - https://color.adobe.com/ko/search?q=sky&page=1 */
/* gray : #3A403D */
/* 밝은 gray : #73726E*/
/* gold : #8C8146 */
/* white: #F2F2F2 */
/* c1 : #0D0D0D */
.c1 {background-color:#404040 !important;}
.c2 {background-color:#a29653 !important;}
.c3 {background-color:#616b66 !important;}
.c4 {background-color:#f9f9f9 !important; color:#0d0d0d !important;}
.button-basic {background-color:#8b8a84; color:#f2f2f2; padding:12px 24px; font-size:13px; height:40px; min-width:75px; cursor:pointer; transition:all 0.15s ease;}

.c1:hover {background-color:#0d0d0d !important;}
.c2:hover {background-color:#8C8146 !important;}
.c3:hover {background-color:#3A403D !important;}
.c4:hover {background-color:#F2F2F2 !important; color:#0d0d0d !important;}
.button-basic:hover {background-color:#73726e; }
.rounded {border-radius:20px;}

h2.section-title {font-size:18px;}
h3.subtitle {font-size:14px;}




/* common */
* {box-sizing:border-box; margin:0; padding:0; border:0; font-weight:normal; outline:none;}
html {position:relative; min-height:100%;}
body {font-family:"regular", sans-serif; color:#0D0D0D; line-height:1.6; margin:0; font-size:14px; background:#F2F2F2;}
ul, li {list-style:none;}
p, span {padding:0; margin:0;}
h1, h2, h3, h4, h5 {padding:0; margin:0;}
a {display: inline-block; text-decoration:none; color:#f2f2f2;}
input {font-family: "Medium", sans-serif;}
::-webkit-scrollbar {display:none;}  
.blind {display:none !important;}

.wrap {position:relative; width:100%; height:100%; background:#F2F2F2;}
#header {position:fixed; width:260px; height:100%; z-index:100; transition:all 0.3s ease;}
#header.fold {width:80px;}
#header.fold .navigator {width:50px;}
#header.fold .navigator .navigator-right {left:-180px;}
#header.fold .navi-showbtn {left:0;}

.navigator {width:230px; height:calc(100vh - 0px); overflow:auto; transition:0.3s all ease;}
.navigator-left {position:fixed; background:#556573;  height:100%; width:50px; float:left; color:#F2F2F2; text-align:center; z-index:100; animation-name:navicolor; animation-duration:10s; animation-iteration-count:infinite; border-right: 1px solid #73726E;}
.navigator-left a {color:#F2F2F2; padding:10px 0; width:100%; height:100%;}
.navigator-left ul {position:absolute; bottom:50px; width:100%;}
.navigator-left ul li {margin:2px; border-radius:0; transition:all 0.15s ease; height:45px;}
.navigator-left ul li:hover {background-color:#F2F2F2;}
.navigator-left ul li:hover a {color:#556573;}
.navigator-left .navi-on {background-color:#F2F2F2;}
.navigator-left .navi-on a {color:#556573;}
.settingicon {background:url(../images/whitef2/settings.svg) no-repeat 50% 50%; background-size:20px;}
.settingicon:hover {background:url(../images/gray-white/settings.svg) no-repeat 50% 50%; background-size:20px;}
.navi-on.settingicon {background:url(../images/gray-white/settings.svg) no-repeat 50% 50%; background-color:#F2F2F2; background-size:20px;}




.navigator-right {position:absolute; left:50px; color: #F2F2F2; height:100%; width:180px; background:#3A403D; float:right; overflow:auto; transition:all 0.3s ease;} 
.logobox {position:relative;text-align:center; font-size:25px; font-family:"Black"; cursor:pointer;}
.logobox a{width:100%; padding:15px 0;}
/* .logobox:before {width: 15px; height: 2px; background: #556573; content: ""; position: absolute; left: 0; top: 65px; animation-name:logomove; animation-duration:3s; animation-iteration-count:infinite;} */
.menubox {padding:0 10px; width:100%; font-family:"thin";}
.mainmenu {font-size:16px; text-align:center; margin-bottom:10px; font-family:"Medium"; cursor:pointer; color: #3A403D; border-right: 1px solid #73726E;}
.mainmenu p {background:#F2F2F2; padding:10px 0;}

.submenu {padding:7px 13px;}
.subbox p, .subbox li {cursor:pointer; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.subbox .subtitlebox:hover, .subbox li:hover {color:#8C8146; transition:all 0.1s ease;}
.subbox-list ul li:hover:before {background: #8C8146;}
.subbox-list {display:none; font-size:14px;}
.subbox-list.on {display:block;}
.subbox-list ul {padding-top:5px;}
.subbox a:hover {color:#8C8146;}
.subbox li {padding:3px 10px; position:relative;}
.subbox-list ul li::before {content:""; position:absolute; width:5px; height:1px; background:#F2F2F2; top:50%; left:0;}
.subtitlebox {display:block; position:relative; padding-right:17px; cursor:pointer;}
.subtitlebox img {position:absolute; width:15px; height:15px; right:0; top:3px; transition:all 0.15s ease;}
.subtitlebox img.on {transform:rotate(45deg) translate(6px, 3px);}


.navi-showbtn {z-index:101; opacity: 0.8; width: 50px; height: 69px; position: absolute; top: 0px; background: #F2F2F2; padding: 25px 0 0 17px; cursor: pointer; transition: all 0.3s ease;}
.navi-showbtn:hover {opacity:1;}
.navi-showbtn img {width:17px; height:17px; transition:all 0.5s ease;}
.navi-showbtn .fold {transform:rotate(180deg);}


#content {margin-left:230px; overflow:hidden;min-height:500px; min-width:798px; transition:all 0.2s ease; position:relative; }
#content.fold {margin-left:50px;}

.topbar {width: 100%; height: 70px; background-color:#F2F2F2; padding: 10px 35px; position:relative; border-bottom:1px solid #73726E;}
.topbar-left {float:left; position:relative; height:100%;}
.searchbox {height:100%; border-radius:0px; width:250px; padding:0 45px 0 12px; text-align:left; font-family:"regular"; font-size:14px;}
.searchbox::placeholder {color:#0d0d0d;} 
.searchbox:focus {border-bottom:1px solid #3A403D;}
.searcbox-icon {display:none; position:absolute; transform:translate(-50%, -50%); top:50%; right:6px; cursor:pointer; width:17px;}

.topbar-right {float:right; display:flex; height:100%;}
.topbar-right li {float:left; height:100%; display:inline-block; line-height:3.4; cursor:pointer;}
.topbar-right .alarm {background:#fff; color:#f2f2f2; width:50px; text-align:center; margin-right:10px; position:relative; animation-name:alarming-back; animation-duration:2s; animation-iteration-count:infinite}
.alarm a {width:100%; height:100%;}
.alarmimg {position:absolute; transform:translate(-50%, -50%); top:32%; left:32%; width:20px; animation-name:alarming; animation-duration:1.3s; animation-iteration-count:infinite}
/* li.alarm:before {content: ''; width: 5px; height: 5px; border-radius: 3px; background-color: #8C8146; position: absolute; top: 11px; left: 33px;} */
.topbar-right .userbox {background:#fff; padding:0 10px 0 40px; position:relative; background-image:url(../images/black0d/user.svg); background-repeat: no-repeat; background-size: 25px; background-position: 7px 11px;}
.topbar-right .userbox:hover {background: #8C8146; color: #fff; background-image:url(../images/white/user.svg); background-repeat: no-repeat; background-size: 20px; background-position: 10px 15px;}
.topbar-right .userbox a {color:#0d0d0d;}
.topbar-right .userbox:hover a {color:#fff;}
.userimg {position:absolute; transform:translate(-50%, -50%); top:50%; left:20px; width:25px;}

.footer {position: static; width: 100%; bottom: 0; height: 100px; background: #fff; margin-top: 35px; padding-top:30px;}
.footer-text {height:100%; color: #73737385; text-align: right; padding-right:35px; line-height:1.4; font-size:12px;}

.container {padding: 10px 35px; width:100%; display:block; min-height:100vh;}
.section {width:100%; margin-top:35px; display:block; position:relative; overflow:auto;}
.box-menu li {float:left; width:calc(25% - 10px); margin-right:10px; margin-bottom:10px; height:200px; background:#ffffff; }
.box-menu-list:hover {background:#3A403D; color:#ffffff;}
.box-menu-list {width: 100%; height: 100%; line-height: 11; text-align: center; font-size: 18px; color: #3A403D; transition:all 0.2s ease;}
.section-title {width:100%; font-size:18px; padding-bottom:15px; font-family:"medium";}

.content-box {background:#fff; padding:20px; margin-bottom:15px;}
.subtitle {padding-bottom:10px; border-bottom:1px solid #f2f2f2;}
.content-body {margin-top:15px; font-size:13px; color:#73726E; overflow:auto;}

/* button */
.button-ul {padding-top:15px;}
.button-ul li {margin:0 15px 15px 0; float:left;}
.outline-primary {border: 2px solid #73726e; background: transparent; color: #73726e;}
.outline-c1 {border: 2px solid #0d0d0d; background: transparent; color: #0d0d0d;}
.outline-c4 {border: 2px solid #F2F2F2; background: transparent; color: #F2F2F2;}
.outline-c3 {border: 2px solid #3A403D; background: transparent; color: #3A403D;}
.outline-c2 {border: 2px solid #8C8146; background: transparent; color: #8C8146;}
.outline-primary:hover {background: #73726e; color: #f2f2f2;}
.outline-c1:hover {background: #0d0d0d; color: #f2f2f2;}
.outline-c4:hover {background: #F2F2F2; color: #0d0d0d;}
.outline-c3:hover {background: #3A403D; color: #f2f2f2;}
.outline-c2:hover {background: #8C8146; color: #f2f2f2;}
.icon-submit {background-image: url(../images/white/send.svg); background-repeat: no-repeat; background-size: 15px; background-position: 14px 12px; padding-left: 40px;}
.icon-save {background-image: url(../images/white/save.svg); background-repeat: no-repeat; background-size: 15px; background-position: 14px 12px; padding-left: 40px;}
.icon-insert {background-image: url(../images/white/plus.svg); background-repeat: no-repeat; background-size: 15px; background-position: 14px 12px; padding-left: 40px;}
.icon-update {background-image: url(../images/white/upload.svg); background-repeat: no-repeat; background-size: 15px; background-position: 14px 12px; padding-left: 40px;}
.icon-delete {background-image: url(../images/white/trash-2.svg); background-repeat: no-repeat; background-size: 15px; background-position: 14px 12px; padding-left: 40px;}
.c4.icon-submit {background-image: url(../images/black0d//send.svg); }
.c4.icon-save {background-image: url(../images/black0d/save.svg); }
.c4.icon-insert {background-image: url(../images/black0d/plus.svg);}
.c4.icon-update {background-image: url(../images/black0d/upload.svg); }
.c4.icon-delete {background-image: url(../images/black0d/trash-2.svg); }

.outline-primary.icon-submit {background-image: url(../images/gray-white/send.svg); background-repeat: no-repeat; background-size: 15px; background-position: 14px 12px; padding-left: 40px;}
.outline-c1.icon-save {background-image: url(../images/black0d/save.svg); background-repeat: no-repeat; background-size: 15px; background-position: 14px 12px; padding-left: 40px;}
.outline-c4.icon-insert {background-image: url(../images/whitef2/plus.svg); background-repeat: no-repeat; background-size: 15px; background-position: 14px 12px; padding-left: 40px;}
.outline-c2.icon-update {background-image: url(../images/gold/upload.svg); background-repeat: no-repeat; background-size: 15px; background-position: 14px 12px; padding-left: 40px;}
.outline-c3.icon-delete {background-image: url(../images/gray/trash-2.svg); background-repeat: no-repeat; background-size: 15px; background-position: 14px 12px; padding-left: 40px;}
.outline-primary.icon-submit:hover {background-image: url(../images/white/send.svg); }
.outline-c1.icon-save:hover {background-image: url(../images/white/save.svg); }
.outline-c4.icon-insert:hover {background-image: url(../images/black0d/plus.svg); }
.outline-c2.icon-update:hover {background-image: url(../images/white/upload.svg); }
.outline-c3.icon-delete:hover {background-image: url(../images/white/trash-2.svg); }

.onlyic {padding:0 !important; min-width:40px !important; background-position:12px 12px !important;}
.outline-primary.onlyic {padding:0 !important; min-width:40px !important; background-position:10px 10px!important;}
.outline-c1.onlyic {padding:0 !important; min-width:40px !important; background-position:10px 10px!important;}
.outline-c4.onlyic {padding:0 !important; min-width:40px !important; background-position:10px 10px!important;}
.outline-c3.onlyic {padding:0 !important; min-width:40px !important; background-position:10px 10px!important;}
.outline-c2.onlyic {padding:0 !important; min-width:40px !important; background-position:10px 10px!important;}


/* alert */


@keyframes navicolor {
    0% {background-color: #3A403D;}
    50% {background-color:#73726E;}
    100% {background-color:#3A403D;}
}

@keyframes alarming{
    0% {transform: rotate(20deg);}
    50% {transform: rotate(-20deg);}
    100% {transform: rotate(20deg);}
}

@keyframes alarming-back{
    0% {background: #fff;}
    50% {background: #8C8146;}
    100% {background: #fff;}
}
